body{
    margin: 0;
}

/*/////////*/

.top-header{
    color:white;
    background-color: rgb(11, 11, 30);
    font-family: 'Times New Roman', Times, serif;
}

a#riotlogo{
    display: inline-block;
    margin-left: -250px;
    margin-bottom: -30px;
    width: 15%;
    height: 15%;
}

a#riotlogo img{
    width: 57%;
    height: 57%;
}

.egoista-pre-header{
    margin: 0;
    color:white;
    background-color: rgb(11, 11, 30);
    font-family: 'Times New Roman', Times, serif;
}

.egoista-pre-header a:link, :visited{
    text-decoration: none;
}

.egoista-pre-header a:hover{
    color: orange
}

.egoista-pre-header h1{
    margin: 0;
}

.pre-container{
    padding: 0;
    margin: 0;
    margin-left:-15px;
    margin-right: -15px;
    box-sizing: inherit;
    text-align: center;
    font-size: 15px;
    text-transform: inherit!important;
    color: white;
}


.container{
    position: relative;
    padding: 0;
    margin-left:-15px;
    margin-right: -15px;
    box-sizing: inherit;
    text-align: center;
    font-size: 30px;
    text-transform: inherit!important;
}

.container a:link, a:visited{
    color: white;
    text-decoration: none;
}

.container > .noliststyle > a{
    display:inline-block;
    padding: 20px 10px 20px;
}

.container a:hover{
    color: orange;
    background-color: transparent;
    text-decoration: none;
}

.pre-row{
    margin: 0;
}

/* + Cuccok */

.centered{
    text-align: center;
}

.noliststyle{
    list-style: none;
    padding: 0;
    margin: -5px;
}

/* Header alatt */

.main{
    text-align: center;
    background-image: url("lolbackground.png");
    background-attachment: fixed;
}

.main img{
    padding: 0%;
    width: 50%;
    height: 50%;
}

#lol{
    display:grid;
    font-family: "Beaufort for LOL", serif;
    font-size: 60px;
    text-align: center;
    color: white;
    letter-spacing: 0.05em
}


/* */

.center-line{
    color:white;
    background-color: rgb(11, 11, 30);
    font-family: 'Times New Roman', Times, serif;
}


.centercontainer{
    position: relative;
    padding: 0;
    margin-left:-15px;
    margin-right: -15px;
    box-sizing: inherit;
    text-align: center;
    font-size: 30px;
    text-transform: inherit!important;
}

.centercontainer a:link, a:visited{
    color: white;
    text-decoration: none;
}

.centercontainer > .noliststyle > a{
    display:inline-block;
    padding: 20px 10px 20px;
}

.centercontainer a:hover{
    color: orange;
    background-color: transparent;
    text-decoration: none;
}
