body{
    margin: 0;
}

.top-header{
    color:white;
    background-color: rgb(11, 11, 30);
    font-family: 'Times New Roman', Times, serif;
}

.container a{
    display: inline-block;
    padding: auto;
}

.container img{
    width: 18%;
    height: 18%;
}

.egoista-pre-header{
    margin: 0;
    color:white;
    background-color: rgb(11, 11, 30);
    font-family: 'Times New Roman', Times, serif;
}

.egoista-pre-header a:link, :visited{
    text-decoration: none;
}

.egoista-pre-header a:hover{
    color: orange
}

.egoista-pre-header h1{
    margin: 0;
}

.noliststyle{
    list-style: none;
    padding: 0;
    margin: -5px;
}


.pre-container{
    padding: 0;
    margin: 0;
    margin-left:-15px;
    margin-right: -15px;
    box-sizing: inherit;
    text-align: center;
    font-size: 15px;
    text-transform: inherit!important;
    color: white;
}


.container{
    padding: 0;
    margin-left:-15px;
    margin-right: -15px;
    box-sizing: inherit;
    text-align: center;
    font-size: 30px;
    text-transform: inherit!important;
}

.container a:link, a:visited{
    color: white;
    text-decoration: none;
}

.container > .noliststyle > a{
    display:inline-block;
    padding: 20px 10px 20px;
}

.container a:hover{
    color: orange;
    background-color: transparent;
    text-decoration: none;
}

.centered{
    text-align: center;
}

.main{
    text-align: center;
    background-color: white;
}

.pre-row{
    margin: 0;
}

.main img{
    padding: 0%;
    width: 50%;
    height: 50%;
}